*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.main-body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile{
    width: 350px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.user-profile img{
    width: 100px;
}
.user-profile h2{
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
}
.user-profile span{
    display: block;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 25px;
}
.user-profile p{
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    background-color:  hsl(0, 0%, 20%);
    color: white;
    margin:10px 0 ;
    padding: 12px 0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s;

}
.links a:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
    
}